body{
    background-color: lightgray;
    font-family: sans-serif;
}
.container{
    box-sizing: border-box;
    width: 600px; 
    height: 450px; 
    background-color: #e6e6e5;
    margin: auto;
    margin-top: 80px;
    padding: 25px 0;
    box-shadow: 0 0 10px rgb(114, 114, 114);
    border-radius: 10%;
}
.logo{
    width: 150px;
   display: block;
   margin: auto;
   border-radius: 20%;
   box-shadow: 0 0 10px rgb(114, 114, 114);
}
.title{
    text-align: center;
    margin:25px auto;
    font-size: 20px;
    border-bottom: 5px solid rgb(114, 114, 114);
    width: 160px;

}
.desc{
    text-align: center;
    color:rgb(52, 52, 52) ;

}
.sociales{
    height: 60px;
    background-color: rgb(148, 147, 147);
    text-align: center;
    box-shadow: 0 0 10px rgb(114, 114, 114);
}
.sociales img{
    width: 5%;
    margin: 13px;
    border-radius: 50%;
}